/* medium styles */
.lyft-web-button {
  cursor: pointer;
  padding: 5px 10px;
  color: #000000; /* white */
  font-family: sans-serif;
  background-color: #FFFFFF; /* black */
  border: none;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}
.lyft-web-button:hover {
  background-color: #E6E6E6; /* reduce brightness by 10% */
}
.lyft-web-button > .lyft-logo {
  display: inline-block;
  width: 48px;
  height: 35px;
  margin-top: 4px;
  vertical-align: middle;
}
.lyft-web-button > .lyft-logo > svg {
  width: 48px; /* fix svg rendering for IE */
  height: 35px; /* fix svg rendering for IE */
}
.lyft-web-button > .cta-eta {
  display: inline-block;
  margin-left: 10px;
  text-align: left;
  vertical-align: middle;
}
.lyft-web-button > .cta-eta > .cta {
  display: block;
  font-size: 24px;
  font-weight: 300;
}
.lyft-web-button > .cta-eta > .eta {
  display: block;
  font-size: 14px;
  font-weight: 300;
}
.lyft-web-button > .arrow-icon {
  display: inline-block;
  width: 18px;
  height: 19px; /* add 1px to prevent clipping */
  margin-left: 10px;
  vertical-align: middle;
}
.lyft-web-button > .arrow-icon > svg {
  width: 18px; /* fix svg rendering for IE */
  height: 19px; /* fix svg rendering for IE */
}
.lyft-web-button > .price-range {
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 300;
}

/* small styles */
.lyft-web-button.small {
  padding: 4px 8px;
}
.lyft-web-button.small > .lyft-logo {
  width: 32px;
  height: 23px;
}
.lyft-web-button.small > .lyft-logo > svg {
  width: 32px; /* fix svg rendering for IE */
  height: 23px; /* fix svg rendering for IE */
}
.lyft-web-button.small > .cta-eta {
  margin-left: 8px;
}
.lyft-web-button.small > .cta-eta > .cta {
  display: none;
}
.lyft-web-button.small > .cta-eta > .eta {
  font-size: 20px;
}
.lyft-web-button.small > .arrow-icon {
  display: none;
}
.lyft-web-button.small > .price-range {
  display: none;
}

/* large styles */
.lyft-web-button.large {
  padding: 18px 20px;
}
.lyft-web-button.large > .lyft-logo {
  width: 55px;
  height: 40px;
}
.lyft-web-button.large > .lyft-logo > svg {
  width: 55px; /* fix svg rendering for IE */
  height: 40px; /* fix svg rendering for IE */
}
.lyft-web-button.large > .cta-eta {
  margin-left: 20px;
}
.lyft-web-button.large > .cta-eta > .cta {
  font-size: 30px;
}
.lyft-web-button.large > .cta-eta > .eta {
  font-size: 20px;
}
.lyft-web-button.large > .arrow-icon {
  margin-left: 20px;
}
.lyft-web-button.large > .price-range {
  font-size: 20px;
}

/* hot-pink */
.lyft-web-button.hot-pink {
  color: #FFFFFF; /* white */
  background-color: #FF00BF; /* pink */
}
.lyft-web-button.hot-pink:hover {
  background-color: #E600AC; /* reduce brightness by 10% */
}
.lyft-web-button.hot-pink > .lyft-logo > svg > path {
  fill: #FFFFFF; /* white */
}
.lyft-web-button.hot-pink > .arrow-icon > svg > path {
  fill: #FFFFFF; /* white */
}

/* mulberry-dark */
.lyft-web-button.mulberry-dark {
  color: #FFFFFF; /* white */
  background-color: #352384; /* mulberry */
}
.lyft-web-button.mulberry-dark:hover {
  background-color: #2B1C6B; /* reduce brightness by 10% */
}
.lyft-web-button.mulberry-dark > .lyft-logo > svg > path {
  fill: #FFFFFF; /* white */
}
.lyft-web-button.mulberry-dark > .arrow-icon > svg > path {
  fill: #FFFFFF; /* white */
}

/* mulberry-light */
.lyft-web-button.mulberry-light {
  color: #352384; /* mulberry */
  background-color: #FFFFFF; /* white */
}
.lyft-web-button.mulberry-light:hover {
  background-color: #E6E6E6; /* reduce brightness by 10% */
}
.lyft-web-button.mulberry-light > .lyft-logo > svg > path {
  fill: #352384; /* mulberry */
}
.lyft-web-button.mulberry-light > .arrow-icon > svg > path {
  fill: #352384; /* mulberry */
}

/* multicolor */
.lyft-web-button.multicolor {
  color: #000000; /* black */
  background-color: #FFFFFF; /* white */
}
.lyft-web-button.multicolor:hover {
  background-color: #E6E6E6; /* reduce brightness by 10% */
}
.lyft-web-button.multicolor > .lyft-logo > svg > path {
  fill: #FF00BF; /* pink */
}
.lyft-web-button.multicolor > .arrow-icon > svg > path {
  fill: #000000; /* white */
}
