/* small styles */
.lyft-web-button {
  padding: 5px 10px;
  color: #000000;
  font-family: sans-serif;
  background-color: #FFFFFF;
  border: none;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}
.lyft-web-button > .lyft-logo {
  display: inline-block;
  width: 48px;
  height: auto;
  margin-top: 4px;
  vertical-align: middle;
}
.lyft-web-button > .cta-eta {
  display: inline-block;
  margin-left: 10px;
  text-align: left;
  vertical-align: middle;
}
.lyft-web-button > .cta-eta > .cta {
  display: block;
  font-size: 24px;
  font-weight: 300;
}
.lyft-web-button > .cta-eta > .eta {
  display: block;
  font-size: 14px;
  font-weight: 300;
}
.lyft-web-button > .arrow-icon {
  display: inline-block;
  width: 18px;
  height: auto;
  margin-left: 10px;
  vertical-align: middle;
}
.lyft-web-button > .price-range {
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 300;
}

/* large styles */
@media(min-width:768px) {
  .lyft-web-button {
    padding: 18px 20px;
  }
  .lyft-web-button > .lyft-logo {
    width: 55px;
  }
  .lyft-web-button > .cta-eta {
    margin-left: 20px;
  }
  .lyft-web-button > .cta-eta > .cta {
    font-size: 30px;
  }
  .lyft-web-button > .cta-eta > .eta {
    font-size: 20px;
  }
  .lyft-web-button > .arrow-icon {
    margin-left: 20px;
  }
  .lyft-web-button > .price-range {
    font-size: 20px;
  }
}

/* hot-pink */
.lyft-web-button.hot-pink {
  color: #FFFFFF;
  background-color: #FF00BF;
}
.lyft-web-button.hot-pink > .lyft-logo > svg > path {
  fill: #FFFFFF;
}
.lyft-web-button.hot-pink > .arrow-icon > svg > path {
  fill: #FFFFFF;
}

/* mulberry-dark */
.lyft-web-button.mulberry-dark {
  color: #FFFFFF;
  background-color: #352384;
}
.lyft-web-button.mulberry-dark > .lyft-logo > svg > path {
  fill: #FFFFFF;
}
.lyft-web-button.mulberry-dark > .arrow-icon > svg > path {
  fill: #FFFFFF;
}

/* mulberry-light */
.lyft-web-button.mulberry-light {
  color: #352384;
  background-color: #FFFFFF;
}
.lyft-web-button.mulberry-light > .lyft-logo > svg > path {
  fill: #352384;
}
.lyft-web-button.mulberry-light > .arrow-icon > svg > path {
  fill: #352384;
}

/* multicolor */
.lyft-web-button.multicolor {
  color: #000000;
  background-color: #FFFFFF;
}
.lyft-web-button.multicolor > .lyft-logo > svg > path {
  fill: #FF00BF;
}
.lyft-web-button.multicolor > .arrow-icon > svg > path {
  fill: #000000;
}
