/* common styles */
.lyft-web-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  visibility: hidden;
  opacity: 0;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  -webkit-transition: visibility 0.4s, opacity 0.4s;
     -moz-transition: visibility 0.4s, opacity 0.4s;
       -o-transition: visibility 0.4s, opacity 0.4s;
          transition: visibility 0.4s, opacity 0.4s;
}
.lyft-web-modal.on {
  visibility: visible;
  opacity: 1;
}
.lyft-web-modal > .content {
  position: relative;
  top: -300px;
  opacity: 0;
  width: 80%;
  margin: auto;
  padding: 0;
  color: #000000;
  font-family: sans-serif;
  text-align: center;
  background-color: #FFFFFF;
  border: none;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
     -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
          box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -webkit-transition: top 0.4s, opacity 0.4s;
     -moz-transition: top 0.4s, opacity 0.4s;
       -o-transition: top 0.4s, opacity 0.4s;
          transition: top 0.4s, opacity 0.4s;
}
.lyft-web-modal.on > .content {
  top: 0;
  opacity: 1;
}
.lyft-web-modal > .content > div > .lyft-logo-tile {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 20px 0 0 0;
  vertical-align: middle;
}
.lyft-web-modal > .content > div > h1 {
  margin: 20px 0 10px 0;
  color: #352384;
  font-size: 24px;
  font-weight: 500;
}
.lyft-web-modal > .content > div > p {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}
.lyft-web-modal > .content > div > .lyft-style-input {
  -webkit-appearance: none;
  height: 36px;
  color: #585551;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  text-transform: none;
  line-height: 1.428571429;
  vertical-align: middle;
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.lyft-web-modal > .content > div > input[type="text"] {
  width: 100%;
  max-width: 320px;
  margin: 20px 0 0 0;
}
.lyft-web-modal > .content > div > .lyft-style-button {
  -webkit-appearance: button;
  cursor: pointer;
  height: 40px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-transform: none;
  line-height: 1.428571429;
  vertical-align: middle;
  background-color: #EA0B8C;
  background-image: none;
  border: 1px solid #EA0B8C;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.lyft-web-modal > .content > div > button[type="button"] {
  width: 100%;
  max-width: 320px;
  margin: 10px 0 20px 0;
}
.lyft-web-modal > .footer {
  text-align: center;
}
.lyft-web-modal > .footer > .close {
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 60px;
  text-decoration: none;
}
