/* common styles */
.lyft-web-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  -webkit-transition: visibility 0.4s, opacity 0.4s;
     -moz-transition: visibility 0.4s, opacity 0.4s;
       -o-transition: visibility 0.4s, opacity 0.4s;
          transition: visibility 0.4s, opacity 0.4s;
}
.lyft-web-modal.on {
  visibility: visible;
  opacity: 1;
}
.lyft-web-modal > .content {
  position: relative;
  top: -300px;
  opacity: 0;
  width: 100%;
  max-width: 640px;
  margin: 100px auto 0 auto;
  padding: 0;
  color: #000000;
  font-family: sans-serif;
  text-align: center;
  background-color: #FFFFFF;
  border: none;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
     -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
          box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -webkit-transition: top 0.4s, opacity 0.4s;
     -moz-transition: top 0.4s, opacity 0.4s;
       -o-transition: top 0.4s, opacity 0.4s;
          transition: top 0.4s, opacity 0.4s;
}
.lyft-web-modal.on > .content {
  top: 0;
  opacity: 1;
}
.lyft-web-modal > .content > .map-container {
  width: 100%;
  height: 200px; /* background-image src will be 300px */
  background-color: #EEEEEE;
  background-position: center top; /* bump the marker down by 100px */
  background-repeat: no-repeat;
  -webkit-border-radius: 8px 8px 0 0;
     -moz-border-radius: 8px 8px 0 0;
          border-radius: 8px 8px 0 0;
}
.lyft-web-modal > .content > .map-container > .map-label {
  display: inline-block;
  max-width: 300px;
  margin: 20px auto 0 auto;
  padding: 10px;
  background-color: #FFFFFF;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
     -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
          box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.lyft-web-modal > .content > .map-container > .map-label > .map-label-name {
  display: block;
  font-size: 16px;
  font-weight: 700;
}
.lyft-web-modal > .content > .map-container > .map-label > .map-label-description {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 300;
}
.lyft-web-modal > .content > .map-container > .map-marker {
  margin-top: 13px;
}
.lyft-web-modal > .content > .map-container > .map-marker > svg {
  display: inline-block;
}
.lyft-web-modal > .content > .lyft-logo-tile-container > .lyft-logo-tile {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 20px 0 0 0;
  vertical-align: middle;
}
.lyft-web-modal > .content > .text-container > h1 {
  margin: 20px 0 10px 0;
  color: #352384;
  font-size: 24px;
  font-weight: 500;
}
.lyft-web-modal > .content > .text-container > p {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}
.lyft-web-modal > .content > .sms-form-container > form > .sms-form-input {
  /* lyft style attributes */
  -webkit-appearance: none;
  height: 36px;
  color: #333447;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  text-transform: none;
  line-height: 1.428571429;
  vertical-align: middle;
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  /* element-specific attributes */
  width: 100%;
  max-width: 320px;
  margin: 20px 0 0 0;
}
.lyft-web-modal > .content > .sms-form-container > form > .sms-form-button {
  /* lyft style attributes */
  -webkit-appearance: button;
  cursor: pointer;
  height: 40px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-transform: none;
  line-height: 1.428571429;
  vertical-align: middle;
  background-color: #FF00BF;
  background-image: -webkit-linear-gradient(top left, #FF00BF, #B80B8C);
  background-image: -moz-linear-gradient(top left, #FF00BF, #B80B8C);
  background-image: -o-linear-gradient(top left, #FF00BF, #B80B8C);
  background-image: linear-gradient(to bottom right, #FF00BF, #B80B8C);
  border: none;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  /* element-specific attributes */
  width: 100%;
  max-width: 320px;
  margin: 10px 0 20px 0;
}
.lyft-web-modal > .content > .open-app-container {
  padding-bottom: 20px;
}
.lyft-web-modal > .content > .open-app-container > .open-app-separator {
  display: block;
  margin: 0 0 20px 0;
  color: #000000;
}
.lyft-web-modal > .content > .open-app-container > .open-app-cta {
  color: #FF00BF;
  text-decoration: none;
}
.lyft-web-modal > .footer {
  text-align: center;
}
.lyft-web-modal > .footer > .close {
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 60px;
  text-decoration: none;
}
