/* small-to-medium screen styles */
.lyft-web-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  -webkit-transition: visibility 0.4s, opacity 0.4s;
     -moz-transition: visibility 0.4s, opacity 0.4s;
       -o-transition: visibility 0.4s, opacity 0.4s;
          transition: visibility 0.4s, opacity 0.4s;
}
.lyft-web-modal.on {
  visibility: visible;
  opacity: 1;
}
.lyft-web-modal > .content {
  position: relative;
  top: -300px;
  left: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  max-width: 320px;
  margin: 20px auto 0 auto;
  padding: 0;
  color: #000000;
  font-family: sans-serif;
  text-align: center;
  background-color: #FFFFFF;
  border: none;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
     -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
          box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -webkit-transition: top 0.4s, opacity 0.4s;
     -moz-transition: top 0.4s, opacity 0.4s;
       -o-transition: top 0.4s, opacity 0.4s;
          transition: top 0.4s, opacity 0.4s;
}
.lyft-web-modal.on > .content {
  top: 0;
  opacity: 1;
}
.lyft-web-modal > .content > .map-container {
  width: 100%;
  height: 150px; /* background-image src will be 300px */
  background-color: #EEEEEE;
  background-position: center top; /* bump the marker down by 150px */
  background-repeat: no-repeat;
  background-size: 167% 167%;
  -webkit-border-radius: 8px 8px 0 0;
     -moz-border-radius: 8px 8px 0 0;
          border-radius: 8px 8px 0 0;
}
.lyft-web-modal > .content > .map-container > .map-label {
  display: inline-block;
  max-width: 300px;
  margin: 10px auto 0 auto;
  padding: 5px;
  background-color: #FFFFFF;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
     -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
          box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.lyft-web-modal > .content > .map-container > .map-label > .map-label-name {
  display: block;
  font-size: 14px;
  font-weight: 700;
}
.lyft-web-modal > .content > .map-container > .map-label > .map-label-description {
  display: block;
  margin-top: 5px;
  font-size: 10px;
  font-weight: 300;
}
.lyft-web-modal > .content > .map-container > .map-marker {
  margin-top: 13px;
}
.lyft-web-modal > .content > .map-container > .map-marker > svg {
  display: inline-block;
  width: 40px;
  height: 64px;
}
.lyft-web-modal > .content > .frame-container {
  position: relative;
}
.lyft-web-modal > .content > .frame-container > .frame-before {
  position: static;
  z-index: 1;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.4s, opacity 0.4s;
     -moz-transition: visibility 0.4s, opacity 0.4s;
       -o-transition: visibility 0.4s, opacity 0.4s;
          transition: visibility 0.4s, opacity 0.4s;
}
.lyft-web-modal > .content > .frame-container > .frame-before.on {
  visibility: visible;
  opacity: 1;
}
.lyft-web-modal > .content > .frame-container > .frame-after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.4s, opacity 0.4s;
     -moz-transition: visibility 0.4s, opacity 0.4s;
       -o-transition: visibility 0.4s, opacity 0.4s;
          transition: visibility 0.4s, opacity 0.4s;
}
.lyft-web-modal > .content > .frame-container > .frame-after.on {
  visibility: visible;
  opacity: 1;
}
.lyft-web-modal > .content .lyft-logo-tile-container > .lyft-logo-tile {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  background-color: #FF00BF;
  background-image: -webkit-linear-gradient(top left, #FF00BF, #B80B8C);
  background-image: -moz-linear-gradient(top left, #FF00BF, #B80B8C);
  background-image: -o-linear-gradient(top left, #FF00BF, #B80B8C);
  background-image: linear-gradient(to bottom right, #FF00BF, #B80B8C);
  border: none;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.lyft-web-modal > .content .lyft-logo-tile-container > .lyft-logo-tile > svg {
  display: inline-block;
  width: 30px;
  height: 21px;
  margin: 11px 0 0 0;
  fill: #FFFFFF;
}
.lyft-web-modal > .content .circle-check-icon-container > .circle-check-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  background-color: #FF00BF;
  background-image: -webkit-linear-gradient(top left, #FF00BF, #B80B8C);
  background-image: -moz-linear-gradient(top left, #FF00BF, #B80B8C);
  background-image: -o-linear-gradient(top left, #FF00BF, #B80B8C);
  background-image: linear-gradient(to bottom right, #FF00BF, #B80B8C);
  border: none;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}
.lyft-web-modal > .content .circle-check-icon-container > .circle-check-icon > svg {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px 0 0 0;
  fill: #FFFFFF;
}
.lyft-web-modal > .content .text-container {
  margin-top: 10px;
}
.lyft-web-modal > .content .text-container > h1 {
  margin: 0 0 0 0;
  color: #352384;
  font-size: 20px;
  font-weight: 500;
}
.lyft-web-modal > .content .text-container > p {
  width: 100%;
  max-width: 320px;
  margin: 5px auto 0 auto;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
}
.lyft-web-modal > .content .message-form-container {
  margin-top: 10px;
}
.lyft-web-modal > .content .message-form-container > form > .message-form-input {
  /* lyft style attributes */
  -webkit-appearance: none;
  height: 36px;
  color: #333447;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  text-transform: none;
  line-height: 1.428571429;
  vertical-align: middle;
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  /* element-specific attributes */
  width: 100%;
  max-width: 298px; /* manually correct for border */
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.lyft-web-modal > .content .message-form-container > form > .message-form-button {
  /* lyft style attributes */
  -webkit-appearance: button;
  cursor: pointer;
  height: 40px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-transform: none;
  line-height: 1.428571429;
  vertical-align: middle;
  background-color: #FF00BF;
  background-image: -webkit-linear-gradient(top left, #FF00BF, #B80B8C);
  background-image: -moz-linear-gradient(top left, #FF00BF, #B80B8C);
  background-image: -o-linear-gradient(top left, #FF00BF, #B80B8C);
  background-image: linear-gradient(to bottom right, #FF00BF, #B80B8C);
  border: none;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  /* element-specific attributes */
  width: 100%;
  max-width: 300px;
  margin: 5px 0 0 0;
}
.lyft-web-modal > .content .message-form-container > form > .message-form-button:hover {
  background-color: #E600AC; /* reduce brightness by 10% */
  background-image: -webkit-linear-gradient(top left, #E600AC, #9E0978);
  background-image: -moz-linear-gradient(top left, #E600AC, #9E0978);
  background-image: -o-linear-gradient(top left, #E600AC, #9E0978);
  background-image: linear-gradient(to bottom right, #E600AC, #9E0978);
}
.lyft-web-modal > .content .open-app-container {
  margin-top: 10px;
}
.lyft-web-modal > .content .open-app-container > .open-app-separator {
  display: block;
  margin: 0 0 0 0;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
}
.lyft-web-modal > .content .open-app-container > .open-app-cta {
  display: inline-block;
  margin-top: 10px;
  color: #FF00BF;
  font-size: 14px;
  text-decoration: none;
}
.lyft-web-modal > .footer {
  text-align: center;
}
.lyft-web-modal > .footer > .close {
  display: inline-block;
  margin-top: 20px;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 36px;
  text-decoration: none;
}

/* large-to-very-large screen styles */
@media(min-width:768px) {
  .lyft-web-modal > .content {
    max-width: 640px;
    margin: 40px auto 0 auto;
  }
  .lyft-web-modal > .content > .map-container {
    height: 200px;
    background-size: auto;
  }
  .lyft-web-modal > .content > .map-container > .map-label {
    margin: 20px auto 0 auto;
    padding: 10px;
  }
  .lyft-web-modal > .content > .map-container > .map-label > .map-label-name {
    font-size: 16px;
  }
  .lyft-web-modal > .content > .map-container > .map-label > .map-label-description {
    font-size: 12px;
  }
  .lyft-web-modal > .content > .frame-container > .frame-before {
    padding: 15px;
  }
  .lyft-web-modal > .content > .frame-container > .frame-after {
    padding: 15px;
  }
  .lyft-web-modal > .content .lyft-logo-tile-container > .lyft-logo-tile {
    width: 64px;
    height: 64px;
  }
  .lyft-web-modal > .content .lyft-logo-tile-container > .lyft-logo-tile > svg {
    width: 45px;
    height: 32px;
    margin: 17px 0 0 0;
  }
  .lyft-web-modal > .content .circle-check-icon-container > .circle-check-icon {
    width: 64px;
    height: 64px;
  }
  .lyft-web-modal > .content .circle-check-icon-container > .circle-check-icon > svg {
    width: 42px;
    height: 42px;
    margin: 10px 0 0 0;
  }
  .lyft-web-modal > .content .text-container {
    margin-top: 20px;
  }
  .lyft-web-modal > .content .text-container > h1 {
    font-size: 24px;
  }
  .lyft-web-modal > .content .text-container > p {
    margin: 10px auto 0 auto;
    font-size: 16px;
  }
  .lyft-web-modal > .content .message-form-container {
    margin-top: 20px;
  }
  .lyft-web-modal > .content .message-form-container > form > .message-form-input {
    max-width: 318px; /* manually correct for border */
  }
  .lyft-web-modal > .content .message-form-container > form > .message-form-button {
    max-width: 320px;
    margin: 10px 0 0 0;
  }
  .lyft-web-modal > .content .open-app-container {
    margin-top: 20px;
  }
  .lyft-web-modal > .content .open-app-container > .open-app-separator {
    font-size: 16px;
  }
  .lyft-web-modal > .content .open-app-container > .open-app-cta {
    margin-top: 20px;
    font-size: 16px;
  }
  .lyft-web-modal > .footer > .close {
    font-size: 48px;
  }
}
